<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- <h1 class="text-center" style="font-size: 28px; margin: 20px;">eNewsVendor</h1> -->
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <h1 class="text-center title">eNEWSVENDOR</h1>
                <p class="text-muted text-center card-label">ADMIN LOGIN</p>
                <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="email" class="form-control" placeholder="Email" [formControl]="loginForm.controls['email']" required>

                    <div *ngIf="loginForm.controls['email'].hasError('required') && formSubmitAttempt" class="form-error">
                      email is required
                    </div>
                    <div *ngIf="loginForm.controls['email'].hasError('email')  && formSubmitAttempt" class="form-error">
                      email is invalid
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Password" [formControl]="loginForm.controls['password']" required>

                    <div *ngIf="loginForm.controls['password'].hasError('required') && formSubmitAttempt" class="form-error">
                      password is required
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 text-left">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" [disabled]="loading" style="float: right;">
                        Login
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                      </button>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
