<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h2>Eagles to Train Behind Closed Gates in Essentuki</h2>
            <small>By Duro Ikhazuagbe</small>
        </div>
        <div class="card-body">
            <p style="width: 80%; letter-spacing: 1.5px;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna

                <br><br>

                Tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                
            </p>
        </div>
        <div class="card-footer">
            <h6>By Duro Ikhazuagbe</h6>
        </div>
    </div>
</div>