.form-error {
    position: absolute;
    bottom: -20px;
    left: 15px;
    opacity: 0.9;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.5s;
    color: red;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

.form-group {
    position: relative;
}