<div class="animated fadeIn">
    <div class="col-lg-12" style="margin-bottom: 20px;">
        <button class="btn btn-primary" routerLink="/article/new-article">New Article</button>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Articles
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let article of articles" routerLink="/article/article-details/{{article.id}}" style="cursor: pointer"> -->
                        <tr *ngFor="let article of articles" routerLink="" style="cursor: pointer">
                            <td>{{article.title}}</td>
                            <td>{{article.category_name}}</td>
                            <td [innerHTML]="article.content.substr(0, 100) + '...'"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

</div>